/* resetting the default*/

*{
   margin: 0 ;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

div,nav, body, footer, ul, main, header, li, img{
    margin: 0;
    padding: 0;
}

/* style setting to nav bar*/

body{

    height: 100%;

}

header{

    height: auto;
    width: 100%;
}

header img{
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-list{

    background-color: black;
    height: 50px;

     
}

.nav-list ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.nav-list li a{

    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    

}

/*hover effect setting*/

.nav-list li a:hover{

    color: rgba(255, 225, 0, 0.938);
    transition: 1s;
}


/* setting the main content*/

.content{
    display:block;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    height: 50vh;
    background-color: white;
    
}
.content h1{
    margin-top: 30px;
    padding: 30px 30px 10px;
    font-size: 3em;

}

.content h2{
     font-size: 2em;
     padding: 5px 30px;
}

.content p{
    font-weight: 500;
    max-width: 700px;
    padding: 30px 30px 10px;
    line-height: 25px;
}
/*
nav li a:hover{
       transition: 1s;
       color: rgb(255, 196, 0);
} */


/* setting the footer portion of website*/

.foot{
    
    text-align: center;
    width: 100%;
    background-color: rgba(255, 225, 0, 0.938);
    padding-top: 7px;
    clear: both;
}

.foot p{

    height: 20px;
    font-weight: 500;
    font-size: .7em;
    color: black;
    
    }

.foot p a{

    text-decoration: none;
    color: black;
    cursor: pointer;

}

