/* resetting the default*/

*{
   margin:0 ;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body, ul, li, header, footer, main{
    margin: 0;
    padding: 0;
}

/* style setting to nav bar*/

body{
    background-color: black;
    height: 100%;

}

header{

    width: 100%;
    height: 60vh;
    overflow: hidden;
    
}

header img{
    width: 177vh;
    height: 60vh;
    
}


nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 30px;
}

nav li a{

    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    

}


/* setting the main content*/

.content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: white;
    
}
.content h1{

    padding: 30px;
}
/*
nav li a:hover{
       transition: 1s;
       color: rgb(255, 196, 0);
} */


/* setting the footer portion of website*/

footer{
    text-align: center;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 225, 0, 0.938);
    padding-top: 7px;
    clear: both;
}

footer p{

    font-weight: 500;
    font-size: .7em;
    color: black;
    padding-top: 2px;
    

}

footer p a{
    text-decoration: none;
    color: black;
    cursor: pointer;

}

